.brilho-moderno {
  display: flex;
  justify-content: center; /* Centraliza os cards horizontalmente */
  max-width: 1000px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto;
  background-color: #fff; /* Cor de fundo do contêiner */
  border-radius: 10px; /* Borda arredondada */
}

.brilho-text {
  padding: 10px 30px;
  background-color: #e8f4ff;
  box-shadow: 0px 1px 10px #0d8aff5d;
  border-radius: 5px;
}

.titulo-brilho {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #13191d;
}

.moderno-text {
  color: #0d8bff;
  font-size: 44px;
}

.text-brilho {
  margin: 10px 0px 12px 0px;
  max-width: 800px;
  color: #13191d;
  font-family: "Crimson Pro", serif;
  font-size: 22px;
}

.brilho-moderno img {
  max-width: 100%;
  height: auto; /* Mantém a proporção da imagem */
}

.info-brilho {
  margin: 30px 0px;
  color: #13191d;
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #919697;
}

/* Estilo para os botões */

.brilho-button {
  display: flex;
  justify-content: start;
}


.botao-1 {
  background-color: #e8f4ff;
  cursor: pointer;
}

.botao-1 span {
  color: #3d3d3d;
}

.botao-2 {
  background-color: #3d3d3d;
  cursor: pointer;
}

.botao-2 span {
  color: #fff;
}

.brilho-button button {
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-family: "Salsa", cursive;
  border: none;
  box-shadow: 0px 1px 5px 0px #0d8bff;
  padding: 12px 20px;
  border-radius: 2px;
  margin-right: 20px;
  margin-top: 30px;
}

.brilho-button button span {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0px 0px 0px 5px;
}

.brilho-button img {
  width: 22px;
  height: 22px;
}

/*IMOBILARIA*/

.imobilaria {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.imobilaria-container {
  display: flex;
  background-color: #e8f4ff;
  box-shadow: 0px 1px 10px #0d8aff5d;
  max-width: 700px;
  padding: 30px;
  color: #13191d;
}

.imobilaria-text {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}

/* botões */

.imobilaria-button {
  margin: 30px 0px 0px 0px;
}

.botao-1 {
  background-color: #e8f4ff;
}

.botao-1 a {
  color: #13191d;
}

.botao-2 {
  background-color: #3d3d3d;
}

.botao-2 a {
  color: #fff;
}

.imobilaria-button button {
  align-items: center;
  align-content: center;
  font-family: "Salsa", cursive;
  border: none;
  box-shadow: 0px 1px 5px 0px #0d8bff;
  padding: 16px 44px;
  border-radius: 2px;
}

.imobilaria-button button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
}


@media (max-width: 950px) {

  .titulo-brilho {
    font-size: 30px;
  }
  
  .moderno-text {
    font-size: 38px;
  }
  
  .text-brilho {
    font-size: 20px;
  }
  
  .brilho-moderno img {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .info-brilho {
    font-size: 16px;
  }
  
  /* Estilo para os botões */
 
  
  .brilho-button button span {
    font-size: 1.2rem;
  }
  
  .brilho-button img {
    width: 22px;
    height: 22px;
  }
}


  @media (max-width: 860px) {

   .brilho-img img {
      content: url('../Imagens/icons-universal/LED-CORES-MOBILE.png');
     
  }

    .brilho-moderno {
        display: flex;
        flex-direction: column; /* Define a direção dos itens para coluna */
        align-items: flex-start; /* Alinha os itens no início do eixo transversal */
        max-width: 1000px;
        padding: 0px 30px 0px 30px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
    }
  
  .brilho-img img {
      max-width: 100%;
      height: auto; /* Mantém a proporção da imagem */
  }
  
  .titulo-brilho {
    font-size: 26px;
  }
  
  .moderno-text {
    font-size: 32px;
  }
  
  .text-brilho {
    font-size: 16px;
  }

  .info-brilho {
    font-size: 16px;
  }
  
  .brilho-button button span {
    font-size: 1.0rem;
  }

  .brilho-button {
    padding-bottom: 14px;
  }

}