.background-footer {
  background-color: #13191d;
  box-shadow: 0px 3px 10px #464646;
  margin: 0px auto;
 
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem 6rem;
}

.footer-sobre { 
  margin: 0px 60px;
}

.text-footer {
  color: #F8E53F;
  margin-right: 30px;
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
 font-size: 1.8rem;
}

.text-somos {
  display: flex;
  align-items: center;
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 100;
 font-size: 1.2rem;
 margin-top: 12px;
 color: #fff ;
}


p a img {
  padding: 6px 0px 6px;
  margin-right: 10px;
  width: 28px;
  height: 28px;
}

.text-somos img {
  margin-right: 6px;
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.footer-span {
  display: flex;
  padding: 6px;
  justify-content: center;
  color: white;
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 820px) {
  
  .footer-sobre {
    margin: 0px 20px;
  }

  .text-footer {
    margin-right: 10px;
   font-size: 1.6rem;
  
  }
  
  .text-somos {
   font-size: 1.0rem;
   margin-top: 12px;
  }

  .text-somos img {
    width: 16px;
    height: 16px;
  }
 
}

@media (max-width: 560px) {

  .footer-container {
    padding: 1rem 2rem;
  }

  .footer-sobre {
    margin: 0px 4px;
  }

  .text-footer {
    margin-right: 4px;
   font-size: 1.4rem;
  
  }
  
  .text-somos {
   font-size: 1rem;
   margin-top: 12px;
  }

  .text-somos img {
    width: 14px;
    height: 14px;
  }

  p a img {
    width: 24px;
    height: 24px;
  }

  .footer-span {
    padding: 4px;
    font-size: 0.8rem;
  }
}

@media (max-width: 460px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0.8rem 0.6rem;
  }

.footer-sobre,
.footer-conect {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens verticalmente */
  text-align: center; /* Alinha o texto ao centro */
  margin: 6px; 
} 
 

  .footer-span {
    padding: 2px;
    font-size: 0.6rem;
  }
  
}
