header {
  background-color: #101518;
  box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

/* BUTTON DO HEADER */

.login-button button {
  display: inline-flex;
  align-items: center;
  font-family: "Salsa", cursive;
  border: none;
  box-shadow: 0px 1px 5px 0px #0d8aff1e;
  background-color: #3d3d3d;
  padding: 8px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.login-button button span {
  text-decoration: none;
  margin: 0px 0px 0px 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.login-button img {
  width: 22px;
  height: 22px;
}

/* BUTTON DO MENU */

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.5s;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.selecionado {
  border-bottom: 2px solid #0d8bff;
}

@media screen and (max-width: 853px) {
  .nav-bar {
    padding: 1.2rem 1.2rem;
  
  }
  .nav-item {
    display: none;
  }

  .logo img {
    justify-content: space-between;
    padding: 0px;
    width: 100px;
  }

  .login-button {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .login-button button {
    align-items: center;
    justify-content: center;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .nav-bar {
    padding: 0.8rem 0.8rem;
  }
  .logo img {
    justify-content: space-between;
    padding: 0px;
    width: 80px;
  }
}
