/* Estilo para o contêiner principal */
.servicos-container {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center; /* Centraliza o conteúdo */
  max-width: 1200px; /* Largura máxima para centralização */
  margin: -100px auto; /* Centraliza horizontalmente */
  padding: 20px; /* Espaçamento interno */
  font-size: 26px;
  color: #220f1c;
}

/* Estilo para os grupos de serviços */
.servicos-grupo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; /* Margem inferior para separar dos grupos */
}

/* Estilo para cada serviço */
.servico {
  width: calc(50% - 20px); /* 50% do tamanho menos a margem entre eles */
}

/* Estilo para o subtitulo */
.servico .subtitulo {
  margin-top: 30px;
  margin-bottom: 10px; /* Margem inferior para separar do parágrafo */
  text-align: left; /* Alinha o texto no início */
}

.subtitulo {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #0d8bff;
  font-size: 26px;
}

.titulo {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #485056;
  font-size: 20px;
}
/* Estilo para o conteúdo */
.servico .conteudo {
  display: flex;
  align-items: center; /* Alinha itens verticalmente */
}

/* Estilo para o parágrafo */
.servico .titulo {
  margin-bottom: 10px; /* Margem inferior para separar do span */
  text-align: left; /* Alinha o texto no início */
}

/* Estilo para a imagem */
.servico .icone {
  width: 100px; /* Largura da imagem */
  margin-left: 10px; /* Margem esquerda para separar do texto */
  vertical-align: middle; /* Alinha verticalmente com o texto */
}

/* Estilo para o span */
.servico .info {
  display: block; /* Para que o span ocupe a largura total */
  color: #919697; /* Cor azul */
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  padding-top: 10px; /* Espaçamento acima do span */
  margin-top: -10px; /* Subindo o texto do span */
  margin-bottom: 20px; /* Descendo a linha azul */
  text-align: left; /* Alinha o texto no início */
}

/* Estilo para os botões */

.botao-1 {
  background-color: #e8f4ff;
}

.botao-1 a {
  color: #13191d;
}

.botao-2 {
  background-color: #3d3d3d;
}

.botao-2 a {
  color: #fff;
}

.servicos-button button {
  align-items: center;
  align-content: center;
  font-family: "Salsa", cursive;
  border: none;
  box-shadow: 0px 1px 5px 0px #0d8bff;
  padding: 12px 40px;
  border-radius: 2px;
  margin: 22px;
}

.servicos-button button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
}

.led {
  background-color: #13191d;
  margin: 130px 0px;
  display: flex; /* Torna o div um flex container */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.frase-led {
  color: #fff;
  padding: 30px 30px;
  max-width: 1000px;
  text-align: center;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
}
