/* Estilo para o contêiner principal */
.servicos-container {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center; /* Centraliza o conteúdo */
  max-width: 1200px; /* Largura máxima para centralização */
  margin: auto; /* Centraliza horizontalmente */
  padding: 20px; /* Espaçamento interno */
  font-size: 26px;
}

/* Estilo para os grupos de serviços */
.servicos-grupo {
  display: flex;
  justify-content: space-between;

}

/* Estilo para cada serviço */
.servico {
  width: calc(50% - 20px); /* 50% do tamanho menos a margem entre eles */
}

/* Estilo para o subtitulo */
.servico .subtitulo {
  margin-top: 30px;
  margin-bottom: 10px; /* Margem inferior para separar do parágrafo */
  text-align: left; /* Alinha o texto no início */
}

.subtitulo {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #0d8bff;
  font-size: 26px;
}

.titulo {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #485056;
  font-size: 20px;
}
/* Estilo para o conteúdo */
.servico .conteudo {
  display: flex;
  align-items: center; /* Alinha itens verticalmente */
}

/* Estilo para o parágrafo */
.servico .titulo {
  margin-bottom: 10px; /* Margem inferior para separar do span */
  text-align: left; /* Alinha o texto no início */
}

/* Estilo para a imagem */
.servico .icone {
  width: 100px; /* Largura da imagem */
  margin-left: 10px; /* Margem esquerda para separar do texto */
  vertical-align: middle; /* Alinha verticalmente com o texto */
}

/* Estilo para o span */
.servico .info {
  display: block; /* Para que o span ocupe a largura total */
  color: #919697; /* Cor azul */
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  padding-top: 10px; /* Espaçamento acima do span */
  margin-top: -10px; /* Subindo o texto do span */
  text-align: left; /* Alinha o texto no início */
}

/* Estilo para os botões */

.section-button {
  display: flex;
  justify-content: center;
  padding: 30px;
}


.botao-1 {
  background-color: #e8f4ff;
  cursor: pointer;
 
}

.botao-1 span {
  color: #3D3D3D;
}

.icon-saibamais {
  margin: ;
}

.botao-2 {
  background-color: #3d3d3d;
  cursor: pointer;

}

.botao-2 span {
  color: #fff;
}

.servicos-button button {
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-family: "Salsa", cursive;
  border: none;
  box-shadow: 0px 1px 5px 0px #0d8bff;
  padding: 12px 40px;
  border-radius: 2px;
  margin-right: 30px;
 
}



.servicos-button button span {
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
   margin: 0px 0px 0px 5px;
}

.servicos-button img {
  width: 30px;
  height: 30px;
}

/*Frase meio do site LED */

.led {
  background-color: #13191d;
  margin: 30px 0px 60px 0px;
  display: flex; /* Torna o div um flex container */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.frase-led {
  color: #fff;
  padding: 30px 30px;
  max-width: 1000px;
  text-align: center;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-size: 2rem;
  }



  @media (max-width: 750px) {


/* Estilo para o contêiner principal */
.servicos-container {
  justify-content: center;
  align-items: center;
  margin: auto; /* Centraliza horizontalmente */
  margin-top: -10px;
  font-weight: 300;
  font-size: 24px;
  color: #0f1a22;

}

.servicos-container h1 {
  color: white;
  background-color: #0f1a22;;
  padding: 10px;
  border-radius: 5px;
}



/* Estilo para os grupos de serviços */
.servicos-grupo {
  display: flex;
  flex-direction: column; /* Altera a direção do flex para coluna */
  align-items: center; /* Centraliza os "cards" verticalmente */
  justify-content: center;
}

/* Estilo para cada serviço */
.servico {
  width: calc(100% - 30px); /* 50% do tamanho menos a margem entre eles */
}

/* Estilo para o subtitulo */
.servico .subtitulo {
  margin-top: 30px;
  margin-bottom: 10px; /* Margem inferior para separar do parágrafo */
  text-align: left; /* Alinha o texto no início */
}

.subtitulo {
  font-weight: 600;
  color: #0d8bff;
  font-size: 26px;
}

.titulo {
  font-weight: 400;
  font-size: 22px;
}

/* Estilo para a imagem */
.servico .icone {
  width: 100px; /* Largura da imagem */
}

/* Estilo para o span */
.servico .info {
  font-weight: 300;
  font-size: 22px;
}

/* Estilo para os botões */


.botao-2 span {
  color: #fff;
}

.servicos-button button {
  padding: 10px 12px;
  border-radius: 2px;
  margin: 8px;
}

.servicos-button button span {
  font-weight: 300;
  font-size: 1.4rem;
   margin: 0px 0px 0px 5px;
}

.servicos-button img {
  width: 22px;
  height: 22px;
}

/*Frase meio do site LED */


.led {
  background-color: #13191d;
  margin: 0px 0px 50px 0px;
  display: flex; /* Torna o div um flex container */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.frase-led {
  color: #fff;
  padding: 28px 28px;
    font-weight: 400;
    font-size: 1.6rem;
  }
}


@media (max-width: 550px) {
  .led {
    background-color: #13191d;
    margin: 0px 0px 50px 0px;
    display: flex; /* Torna o div um flex container */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  .frase-led {
    color: #fff;
    padding: 22px 22px;
      font-weight: 400;
      font-size: 1.0rem;
    }
}