/*CSS SOBRE */
.container-sobre {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px; /* Borda arredondada */
}


.sobre-titulo {
  display: flex;
  align-items: center;
  color: #0f1a22;
  justify-content: center;
  margin: 20px;
  font-family: "Crimson Pro", serif;
  font-size: 2.2rem;
  font-optical-sizing: auto;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #F8E53F; /* Aqui você pode definir a cor desejada */
}

.sobre-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #13191d;
  margin-bottom: 40px;
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  font-optical-sizing: auto;
  font-weight: 300;
}

.span-contato {
  color: #f8e53f;
  margin: 0px 5px 0px 5px;
}

/* QUEM SOMOS */ 

.quemsomos-background {
  background: linear-gradient(to top right, #154b7e, #0f1a22); /* Gradiente de vermelho para azul */
  margin: 0 auto;
  padding: 30px;
  max-width: 1000px;
  border-radius: 100px 0 100px 0; /* Topo esquerdo, topo direito, canto inferior esquerdo, canto inferior direito */
  margin-bottom: 40px;
}

.quemsomos-titulo {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
  justify-content: center;
  font-family: "Crimson Pro", serif;
  font-size: 2.2rem;
  font-optical-sizing: auto;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #F8E53F; /* Aqui você pode definir a cor desejada */
}



.sobre-subtitulo1 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: #F8E53F; /* Aqui você pode definir a cor desejada */
}

.sobre-principio {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: #F8E53F; /* Aqui você pode definir a cor desejada */
}

.quemsomos-text {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 30px;
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  font-optical-sizing: auto;
  font-weight: 300;
}

.sobre-subtitulo2 {
  display: flex;
  text-align: left;
  color: #f8ec3f;
  font-family: "Crimson Pro", serif;
  font-size: 1.4rem;
  font-optical-sizing: auto;
  font-weight: 600;
}

