.services-img {
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh;
  box-shadow: 0px 4px 8px rgba(27, 20, 20, 0.3); /* Adiciona sombra embaixo da imagem */
  margin-bottom: 30px;
  overflow: hidden; /* Para ocultar partes da imagem que possam se estender além do container */
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.services-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

.services-index {
  background-color: #13191dd3;
  max-width: 700px;
  padding: 30px;
  z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
  opacity: 0; /* Inicialmente invisível */
  animation: slideInFromLeft 1s forwards; /* Animação de slide-in */
}


.services-index h2 {
  font-family: "Crimson Pro", serif;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

.detalhe-titulo-servicos {
  font-size: 2.4rem;
  font-weight: 500;
  color: #F8E53F;
}

.text-titulo {
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

@media (max-width: 852px) {
  .services-index {
    max-width: 500px;
  }

  .services-index h2 {
    font-size: 2.4rem;
  }
  
  .detalhe-titulo-servicos {
  font-size: 1.8rem;
  }
  
  .text-titulo {
    font-size: 1rem;
  }
  
  .services-img {
  height: 40vh;
}
}


@media (max-width: 550px) {
  .services-index {
    max-width: 400px;
  }

  .services-index h2 {
    font-size: 1.8rem;
  }

  .detalhe-titulo-servicos {
    font-size: 1.4rem;
    }

  .text-titulo {
    font-size: 0.9rem;
  }
  .services-index {
    padding: 26px;
  }
}
