/* FRASE ABAIXO DA IMAGEM DO INICIO */

.content-frase-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 30px;
}


/* inicio efeitos borda */
.content-frase-page::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  border-radius: 2px;
  animation: changeColor 5s linear infinite;
}
@keyframes changeColor {
  0% {
    border-color: #0f1b242a; /* Cor inicial */
  }
  20% {
    border-color: #0d8aff36; /* Cor intermediária */
  }
  40% {
    border-color: #f8e63f3d; /* Cor final */
  }
  60% {
    border-color: #0d8aff2f; /* Cor inicial */
  }
  80% {
    border-color: #f8e63f28; /* Cor intermediária */
  }
  100% {
    border-color: #0f1b242d; /* Cor final */
  }
}
/* fim efeitos borda */

.content-frase-page img {
  width: 120px;
  height: 120px;
  margin-left: 30px;
}

.titulo-frase-servicos {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #0f1a22;
  margin-bottom: 10px;
  text-align: left;
}

/* FIM FRASE ABAIXO DA IMAGEM DO INICIO */

/* INICIO SERVIÇOS */

h1 a {
  text-decoration: none;
  color: #396dfc;
  transition: color 0.4s, font-size 1s; /* Adiciona uma transição suave de 0.3 segundos para a cor e tamanho da fonte */
}

h1 a:hover {
  color: #0dc7ff; /* Cor do texto ao passar o mouse */
  font-size: 1.1em; /* Tamanho da fonte ao passar o mouse */
}

/* ------------- INICIO CARD 2 -----------*/
.servicos-info-card2 {
  display: flex;
  margin: 0 auto;
  background-color: #0f1a22;
}
.titulo-servico-info2 {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  text-shadow: 0px 1px 4px #0d8aff62;
}

.textp-servico-info2 {
  margin: 10px 0px 12px 0px;
  color: #fff;
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 600px;
}
/* ------------- FIM CARD 2 -----------*/
.servicos-info-card,
.servicos-info-card2 {
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
  margin: 0 auto;
}

.servicos-info-card {
  display: flex;
  margin: 0 auto;
  margin-bottom: -4px;
}

.titulo-servico-info {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
  text-shadow: 0px 1px 4px #0d8aff62;
}

.textp-servico-info {
  margin: 10px 0px 12px 0px;
  color: #0f1a22;
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 600px;
}

.text-servico-info {
  flex: 2;
  padding: 30px;
  order: 2;
}

.servico-info-img {
  flex: 1; /* Faz a imagem ocupar todo o espaço disponível */
  order: 2; /* Altera a ordem para 1, colocando-a antes do conteúdo de texto */
  max-width: 100%;
  height: auto;
  overflow: hidden; /* Oculta o conteúdo que excede os limites da div */
  direction: rt1; /* Define a direção do conteúdo da direita para a esquerda */
}

.servico-info-img2 {
  flex: 1; /* Faz a imagem ocupar todo o espaço disponível */
  order: 2; /* Altera a ordem para 1, colocando-a antes do conteúdo de texto */
  max-width: 100%;
  height: auto;
  overflow: hidden; /* Oculta o conteúdo que excede os limites da div */
  direction: rt2; /* Define a direção do conteúdo da direita para a esquerda */
}

.servico-info-img img {
  height: 400px;
}

.servico-info-img2 img {
  height: 400px;
}
/* FIM SERVIÇOS */

/* PORQUE SERICELL? */

.porque-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Roboto", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #0042ff;
  text-shadow: 0px 2px 4px #0d8aff9d; /* Adiciona uma sombra na parte inferior */
}

.porque-container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.porque-subcontainer {
  text-align: center;
}

.porque-subcontainer img {
  width: 120px;
  height: 120px;
}

.porque-subcontainer h2 {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #0f1a22;
}

.porque-subcontainer p {
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 8px 30px 0px 30px;
  color: #485056;
}

/* FIM PORQUE SERICELL? */

@media (max-width: 1500px) {
  .text-servico-info {
    flex: 1;
    padding: 30px;
    order: 2;
  }
}

@media (max-width: 1050px) {
  .porque-container {
    width: 800px;
  }

  .porque-subcontainer img {
    width: 100px;
    height: 100px;
  }

  .porque-subcontainer h2 {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 20px;
  }

  .porque-subcontainer p {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 8px 20px 0px 20px;
  }
}
@media screen and (max-width: 810px) {
  .servicos-info-card,
  .servicos-info-card2 {
    flex-direction: column-reverse; /* Inverte a ordem dos itens para coluna e coloca a imagem acima dos textos */
  }

  .servico-info-img,
  .servico-info-img2 {
    order: 2; /* Coloca a imagem acima dos textos */
  }

  .text-servico-info,
  .text-servico-info2 {
    order: 1; /* Coloca os textos abaixo da imagem */
  }

  .servico-info-img {
    overflow: auto; /* Oculta o conteúdo que excede os limites da div */
  }

  .servico-info-img2 {
    overflow: auto; /* Oculta o conteúdo que excede os limites da div */
  }

  .servico-info-img img {
    height: 340px;
  }

  .servico-info-img2 img {
    height: 340px;
  }

  .textp-servico-info2,
  .textp-servico-info {
    font-size: 1rem;
  }
  /*CARDS CIRCULOS */
  .porque-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .porque-subcontainer {
    width: 50%;
    text-align: center;
  }
  .porque-container {
    width: 470px;
  }
  .porque-subcontainer p {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .content-frase-page img {
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: -180px;
  }

  .servico-info-img img {
    height: 280px;
  }

  .servico-info-img2 img {
    height: 280px;
  }
  .porque-subcontainer {
    width: 100%; /* Define a largura dos subcontêineres para 100% para colocar apenas 1 em uma linha */
  }
  .porque-container {
    width: 300px;
  }
  .porque-titulo {
    font-size: 1.6rem;
  }
}
