.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #131617;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #131617;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Salsa", cursive;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 30px;
  cursor: pointer;
}

nav ul li {
  color: white;
  margin-right: 1.5rem;
  cursor: pointer;
  padding: 0px 5px;
  font-size: 20px;
}

.botao-header {
  box-shadow: 0px 1px 5px 0px #0d8bff;
  background-color: #3d3d3d;
  padding: 5px;
  border-radius: 2px;
}

.botao-header img {
  display: inline-block; /* Permite que os elementos fiquem lado a lado */
  vertical-align: middle; /* Alinha verticalmente os elementos */
  width: 22px;
  height: 22px;
  margin: 0px 0px 0px 5px;
}

.contato-whats {
  display: inline-block; /* Permite que os elementos fiquem lado a lado */
  vertical-align: middle; /* Alinha verticalmente os elementos */
  color: white;
  font-family: "Salsa", cursive;
  margin: 0px 5px;
  font-size: 20px;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.5s;
}

.menu-button {
  display: none;
}
