.container-cards {
  max-width: auto;
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex;
  justify-content: center; /* Centraliza os cards horizontalmente */
  margin-top: 170px;
}

.card-destaque {
  width: 300px; /* largura do card */
  height: auto; /* altura do card */
  background-color: #fff; /* cor de fundo do card */
  box-shadow: 0px 2px 5px 1px #cacaca44;

  border-radius: 10px; /* borda arredondada */
  display: inline-block;
  margin-top: -40px;
  position: relative; /* posição relativa para o número */
  text-align: center;
  justify-content: center;
  padding: 2px;
  margin-bottom: 40px;
}

.card {
  width: 300px; /* largura do card */
  height: auto; /* altura do card */
  background-color: #fff; /* cor de fundo do card */
  box-shadow: 0px 2px 5px 1px #cacaca44;

  border-radius: 10px; /* borda arredondada */
  display: inline-block;
  margin: 30px;
  position: relative; /* posição relativa para o número */
}

.numero-card {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #0f1a22; /* cor do texto do número */
  font-size: 30px; /* tamanho da fonte */
  width: 50px; /* largura do número */
  height: 50px; /* altura do número */
  line-height: 50px; /* alinhamento vertical */
  position: absolute; /* posição absoluta para o número */
  top: -25px; /* metade do tamanho do número, para que metade do número fique dentro do card */
  left: 50%; /* posiciona o número na metade do card */
  transform: translateX(-50%); /* centraliza o número horizontalmente */
}

/* Estilo para o conteúdo do card */
.conteudo-p {
  padding: 30px;
  font-family: "Crimson Pro", serif;
  text-align: center; /* centraliza o texto */
  color: #485056;
  font-size: 1.1rem;
}

.conteudo-card {
  padding-top: 30px;
}

/* Estilo para a imagem dentro do card */
.conteudo-card img {
  width: 140px; /* largura da imagem */
  height: 140px; /* altura da imagem */
  display: block; /* para centralizar a imagem */
  margin: 0 auto 0px; /* margem inferior e centralização horizontal */
}

.card-texto01 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  font-style: normal;
  color: #0f1a22;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .container-cards {
    margin-top: 150px;
  }

  .card-destaque {
    width: 250px; /* largura do card */
    margin: 10px 0px 0px 0px;
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .card {
    width: 250px; /* largura do card */
    margin: 10px 20px 0px 20px;
  }

  .numero-card {
    font-size: 24px;
  }

  /* Estilo para o conteúdo do card */
  .conteudo-p {
    padding: 20px 6px;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .conteudo-card {
    padding-top: 20px;
  }

  /* Estilo para a imagem dentro do card */
  .conteudo-card img {
    width: 80px; /* largura da imagem */
    height: 80px; /* altura da imagem */
    margin: 0 auto 0px; /* margem inferior e centralização horizontal */
  }

  .card-texto01 {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 18px; /* margem inferior para separar a imagem */
  }
}

@media (max-width: 550px) {
  .container-cards {
    max-width: auto;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center; /* Centraliza os "cards" verticalmente */
    margin-top: 80px;
    margin-bottom: -10px;
  }

  .card-destaque,
  .card {
    width: 280px; /* largura do card */
    height: auto; /* altura do card *
    border-radius: 10px; /* borda arredondada */
    display: inline-block;
    position: relative; /* posição relativa para o número */
    text-align: center;
    justify-content: center;
    padding: 2px;
    margin: 0 auto 30px; /* Adiciona margem inferior para separar os "cards" */
  }
  .conteudo-p {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .card-texto01 {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 18px; /* margem inferior para separar a imagem */
  }
}
