.inicio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Imagens/icons-header/fundo-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.inicio-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
  text-align: center;
}

.inicio-index h2 {
  font-size: 90px;
  font-family: "Crimson Pro", serif;
  margin: -10px;
  color: white;
}

.inicio-index span {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* EFEITOS SPAN DO TITULO */
.gradiente-animado-subtext {
  background-image: linear-gradient(to bottom, #0042ff, #3369fd, #00FFE4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

/* FIM EFEITOS SPAN DO TITULO */

article {
  background-color: rgb(255, 255, 255);
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  margin: -60px auto;
  display: flex;
  box-shadow: 0px 2px 4px #1015181a;
}

.frase-inicio {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-family: "Salsa", cursive;
  font-weight: 500;
  font-style: normal;
  color: #0f1a22;
}

@media (max-width: 850px) {

  .inicio-img {
    height: 50vh;
  }

  .inicio-index h2 {
    font-size: 60px;
  }

  .inicio-index span {
    font-size: 20px;
  }

  article {
   width: 500px;
  }
  
  .frase-inicio {
    font-size: 20px;
  }
}


@media (max-width: 600px) {

  .inicio-img {
    height: 28vh;
  }


  .inicio-index h2 {
    font-size: 2.8rem;
    margin-top: 0.1rem;
  }

  .inicio-index span {
    font-size: 0.7;
    margin-top: 0.1rem;
  }

  article {
   width: 320px;
   padding: 12px;
   margin: -20px auto;

  }

  .frase-inicio {
    font-size: 1rem;
  }
}


@media (max-width: 450px) {

  .inicio-img {
    height: 24vh;
  }


  .inicio-index h2 {
    font-size: 2.3rem;
    margin-top: 0.1rem;
  }

  .inicio-index span {
    font-size: 0.7rem;
    margin-top: 0.1rem;
  }

  article {
   width: 280px;
   padding: 10px;
   margin: -20px auto;

  }

  .frase-inicio {
    font-size: 0.7rem;
  }
}
