/* .inicio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Imagens/icons-header/fundo-index-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.inicio-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
  text-align: center;
}

.inicio-index h2 {
  font-size: 5.625rem;
  font-family: "Crimson Pro", serif;
  margin: -10px;
  color: white;
}

.inicio-index span {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
color: #fff;
text-shadow: 1px 1px 2px #012280; 
}


article {
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px #cacaca44;
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  margin: -60px auto;
  display: flex;
}

.frase-inicio {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #0f1a22;
}

@media (max-width: 850px) {
  .inicio-img {
    height: 50vh;
  }

  .inicio-index h2 {
    font-size: 3.75rem;
  }

  .inicio-index span {
    font-size: 1.4rem;
  }

  article {
   width: 500px;
  }
  
  .frase-inicio {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {

  .inicio-img {
    height: 28vh;
  }

  .inicio-index h2 {
    font-size: 2.8rem;
    margin-top: 0.1rem;
  }

  .inicio-index span {
    font-size: 1.0rem;
    margin-top: 0.1rem;
  }

  article {
   width: 320px;
   padding: 12px;
   margin: -20px auto;

  }

  .frase-inicio {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {

  .inicio-img {
    height: 30vh;
  }

  .inicio-index h2 {
    font-size: 2.6rem;
  }

  .inicio-index span {
    font-size: 1rem;
  }

  article {
   width: 280px;
   padding: 10px;
   margin: -20px auto;

  }

  .frase-inicio {
    font-size: 0.7rem;
  }
} */
