/* Estilo para o contêiner principal */
.servicos-container {
  font-family: "Salsa", cursive;
  text-align: center; /* Centraliza o conteúdo */
  max-width: 1200px; /* Largura máxima para centralização */
  margin: auto; /* Centraliza horizontalmente */
  padding: 20px; /* Espaçamento interno */
}

/* Estilo para os grupos de serviços */
.servicos-grupo {
  display: flex;
  justify-content: space-between;
}

.titulo-servicos {
  color: #0f1a22;
  font-weight: 300;
  font-size: 2.4rem;
}

/* Estilo para cada serviço */
.servico {
  width: calc(50% - 20px); /* 50% do tamanho menos a margem entre eles */
}

.metalurgica-serv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para o subtitulo */
.servico .subtitulo {
  margin-top: 30px;
  text-align: left; /* Alinha o texto no início */
}

.subtitulo {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.6rem;
  text-shadow: 0px 2px 4px #0d8aff9d;
  text-decoration: none;
  color: #0042ff;
  transition: 0.4s;
}

.subtitulo:hover {
  color: #0dc7ff;
  font-size: 1.8rem; 
}

.info-servico {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #564848;
  font-size: 1.2rem;
}
/* Estilo para o conteúdo */
.servico .conteudo {
  display: flex;
  align-items: center; 
}

/* Estilo para o parágrafo */
.servico .info-servico {
  margin-bottom: 10px; 
  text-align: left; 
}

/* Estilo para a imagem */
.servico .icone {
  width: 100px; 
  margin-left: 10px; 
  vertical-align: middle; 
}

/* Estilo para o span */
.servico .info {
  display: block; 
  color: #919697; 
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.1rem;
  margin-top: -8px; 
  text-align: left; 
}

.servico h2 a {
  text-decoration: none;
}

/* Estilo para os botões */

.section-button {
  display: flex;
  justify-content: center;
  padding: 30px;
}


.botao-1 {
  background-color: #0042ff;
  cursor: pointer;
}

.botao-1 span {
  color: #F8E53F;
}

.botao-2 {
  background-color: #F8E53F;
  cursor: pointer;
}

.botao-2 span {
  color: #0042ff;
}

.servicos-button button {
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-family: "Salsa", cursive;
  border: none;
  box-shadow: 0px 1px 5px 0px #0d8aff4f;
  padding: 12px 40px;
  border-radius: 5px;
  margin-right: 30px;
}

.servicos-button button span {
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
   margin: 0px 0px 0px 5px;
}

.servicos-button img {
  width: 30px;
  height: 30px;
}

/*Frase meio do site LED */

.led {
  background-color: #0042ff;
  margin: 30px 0px 60px 0px;
  display: flex;
  justify-content: center; 
}

.frase-led {
  color: #fff;
  padding: 30px 30px;
  max-width: 1000px;
  text-align: center;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-size: 2rem;
  }

  @media (max-width: 785px) {
.servicos-container {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.servicos-container h1 {
  color: white;
  background-color: #0f1a22;;
  padding: 10px;
  border-radius: 5px;
}

/* Estilo para os grupos de serviços */
.servicos-grupo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

/* Estilo para cada serviço */
.servico {
  width: calc(100% - 30px); 
}

/* Estilo para o subtitulo */
.servico .subtitulo {
  margin-top: 20px;
  margin-bottom: 10px; 
  text-align: left; 
}

/* Estilo para a imagem */
.servico .icone {
  width: 100px; /* 
}

/* Estilo para os botões */


.botao-2 span {
  color: #fff;
}

.servicos-button button {
  padding: 10px 12px;
  border-radius: 5px;
  margin: 8px;
}

.servicos-button button span {
  font-weight: 300;
  font-size: 1.4rem;
   margin: 0px 0px 0px 5px;
}

.servicos-button img {
  width: 22px;
  height: 22px;
}

/*Frase meio do site LED */


.led {
  background-color: #13191d;
  margin: 0px 0px 50px 0px;
  display: flex; /* Torna o div um flex container */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.frase-led {
  color: #fff;
  padding: 28px 28px;
    font-weight: 400;
    font-size: 1.6rem;
  }
}


@media (max-width: 550px) {
  .led {
    background-color: #13191d;
    margin: 0px 0px 50px 0px;
    display: flex; /* Torna o div um flex container */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  .frase-led {
    color: #fff;
    padding: 22px 22px;
      font-weight: 400;
      font-size: 1.0rem;
    }
}