.background-cor {
  background: linear-gradient(to bottom, #123046, #0f1a22);
}

.trabalho-inicio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  padding: 30px;
  max-width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); /* Define o recorte com movimento */
}

/*Imagem de fundo das paginas*/
.background-arquitetura {
  background-image: url(../Imagens-arquitetura/fundo-arquitetura.png);

}
.background-transfor {
  background-image: url(../Imagens-transformacao/fundo-transform.png);
}
.background-sinalizacao {
  background-image: url(../Imagens-sinalizacao/fundo-index.png);
}
.background-impressao {
  background-image: url(../Imagens-impressao/impressao-background.png);
}
.background-brilho {
  background-image: url(../Imagens-brilhomoderno/background-brilho.png);
}
/*Imagem de fundo das paginas*/

.trabalho-frase {
  display: flex;
  justify-content: center;
  align-items: center;
}


.trabalho-frase h1 {
  text-align: center;
    font-family: "Crimson Pro", serif;
    font-size: 2.2rem;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(0, 162, 255) 0%, rgb(0, 162, 255) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 0%,  rgb(0, 162, 255) 100%, rgb(0, 162, 255) 75%, rgb(255, 255, 255) 50%, rgb(247, 247, 247) 25%, rgb(255, 255, 255) 0%);
    background-size: 200% 100%; 
    color: transparent; 
    background-clip: text; 
    -webkit-background-clip: text; 
    animation: animateGradient 4s linear infinite; 
}

.trabalho-frase span {
  text-align: center;
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0px 2px 4px #0d8aff9d; /* Adiciona uma sombra na parte inferior */
}

/* INICIO CARDS SERVIÇOS */
.background-services-page {
 background: #0f1a22;

}

.container-services-page {
  max-width: 1200px; /* Largura máxima para centralização */
  margin: auto; /* Centraliza horizontalmente */
  padding: 30px; /* Espaçamento interno */
}

.titulo-services-page {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-optical-sizing: auto;
  color: #F8E53F;
  font-size: 2.2rem;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
  text-shadow: 0px 1px 4px #002ca7; /* Adiciona uma sombra na parte inferior */
}

.blocos-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bloco-service {
  margin: 10px;
}

.bloco-service img {
  width: 220px; /* Para ocupar toda a largura do bloco */
height: 170px;
border-radius: 10px 5px 10px 5px;
box-shadow: 0px 1px 5px 0px #0d8aff1e;
}

.texto-service {
  max-width: 220px;
  background-color: #313131;; /* Cor de fundo do texto */
  box-shadow: 0px 1px 5px 0px #0d8aff1e;
  border-radius: 5px;
}


/* CSS APENAS PARA ABA SERVIÇOS BRILHO MODERNO */

.blocos-services-brilho {
  animation: neon 2s ease-in-out infinite alternate;

}

.blocos-services-brilho h2 {
  animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
  0% { box-shadow: 0 0 3px rgba(248, 229, 63, 0.8); }
  50% { box-shadow: 0 0 5px rgba(13, 139, 255, 0.8); }
  100% { box-shadow: 0 0 3px rgba(15, 26, 34, 0.8); }
}

.text-brilhomoderno-serv {
  max-width: 300px;
}
.bloco-service-brilho img {
  width: 300px; /* Para ocupar toda a largura do bloco */
height: 200px;
}

/* FIM CSS APENAS PARA ABA SERVIÇOS BRILHO MODERNO */


.texto-service h2 {
  padding: 10px;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  box-shadow: 0px 0px 3px 0px #0d8aff;
  border-radius: 10px 0px 10px 0px;
  color: #fff; /* Cor do subtítulo */
}

.texto-service p {
  padding: 10px;
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 10px 0px 10px 0px;
  color: #fff; /* Cor do subtítulo */
}

/* FIM INICIO CARDS SERVIÇOS */



@media (max-width: 852px) {
  .trabalho-frase {
    max-width: 500px;
  }
  .trabalho-inicio-container {
  height: 40vh;
}
.trabalho-inicio-container {
  height: 220px;
}
}


@media (max-width: 550px) {
  .trabalho-frase {
    max-width: 400px;
  }

  .trabalho-inicio-container {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%); /* Define o recorte com movimento */
  }

  .trabalho-frase h1 {
      font-size: 1.8rem;
  }
  
  .trabalho-frase span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.0rem;
  }
}
